@charset "UTF-8";

/* CSS初始化 */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,img,div{margin:0;padding:0;border:0}
body{font:12px "宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color:#2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
/* ---------------------------- */

body {
    font-family: Arial;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.4);
    color: #262626;
    background: #ffffff;
    background: #FFF url(../images/bg.jpg) repeat-x top 80px left;
}

#box {
  width:100%;
  height:100%;
}

/* 导航栏 */
.wrapper {
    width: 100%;
    height: 80px;
    background : #025088;
    position: relative;
}

.fl {
    float: left;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.logo {
  float:left;
  width:200px;
  height:80px;
}

.menu {
    height: 80px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float:right;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}

ul.menu li {
    list-style: none;
    float:left;
    height: 79px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
    }

ul li a {
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.3);
    text-align: center;
    line-height: 79px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
    }

ul li a:hover {
    background: transparent none;
    color:#ffffff;
    text-decoration:none;
}

ul[rel=sam1] li a {
    background: #025088;
}

ul[rel=sam1] li a:hover {
    background: transparent none;
}

ul li.active a{
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}
/* --------------------------------- */

/* header css */
.header{
  margin:0 auto;
  width:100%;
  height:auto;
  overflow:hidden;
}
